.boardContainer {
    height: calc(100vh - 155px);
    width: calc(100% - 16px);
    min-width: 175px;
    margin-right: 16px;
    margin-bottom: 16px;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}

#Todo {
    margin-left: 16px;
}

.task-Section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: calc(100% - 48px);
    background-color: rgba(0, 0, 0, 0.1);
}

.heading {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #1976d2;
    padding: 4px 4px 4px 4px;
    color: white;
}

.MuiTypography-root {
    align-self: center;
}

.whiteButton {
    color: white !important;
}

@media screen and (max-width: 775px) {
    .boardContainer {
        min-height: 110px;
        height: auto;
    }
}

@media screen and (max-width: 775px) {
    .boardContainer {
        min-height: 110px;
        height: auto;
    }
}